<aside class="main-sidebar">
	<section class="sidebar" style="height: auto;">
		<!-- 左边导航栏 -->
		<div class="user-panel">
			<div class="pull-left image">
				<img src="/dist/img/user.png" class="img-circle" alt="用户头像">
			</div>
			<div class="pull-left info">
				<p>AutomatedTesting</p>
				<a href="#"><i class="fa fa-circle text-success"></i> 在线</a>
			</div>
		</div>
		<!-- 导航栏查询表单 -->
		<form action="#" method="get" class="sidebar-form">
			<div class="input-group">
				<input type="text" name="q" class="form-control"
					placeholder="Search..."> <span class="input-group-btn">
					<button type="submit" name="search" id="search-btn"
						class="btn btn-flat">
						<i class="fa fa-search"></i>
					</button>
				</span>
			</div>
		</form>
		<!--菜单  -->
		<ul class="sidebar-menu">
			<li><a href="/httpapi"><i class="fa fa-book"> </i> <span>用例管理</span></a>
			</li>
			<li><a href="/httpreport"><i class="fa fa-circle-o text-red"></i>
					<span>测试报告</span></a></li>
			<li><a href="/httpsuite"><i class="fa fa-circle-o text-aqua"></i>
					<span>用例集</span></a></li>
		</ul>
	</section>
</aside>
